<% @billet_payments.each do |billet| %>
  <tr>
    <td><%= billet.amount %></td>
    <td><%= billet.expires_at %></td>
    <td><%= billet.status %></td>
    <td><%= billet.customer.name %></td>
  </tr>
<% end %>
